<mat-tab-group animationDuration="0ms">
    <mat-tab label="Total">
        <div class="stats clearfix tabs-nav__link">
            <div class="stats__pie-chart pie-chart">
                <img src="assets/img/Round.png" alt="" style="width: 100%; height: auto; display: block; margin: 0;">
            </div>
            <div class="stats__data clearfix">
                <ul class="stats__data-item stats-list">
                    <li class="stats-list__item">74,983.6 t Net CO₂</li>
                    <li class="stats-list__item">1476 Commuters</li>
                    <li class="stats-list__item">354,240 Commutes</li>
                    <li class="stats-list__item">2,125,440 Km</li>
                </ul>
                <ul class="stats__data-item stats-list">
                    <li class="stats-list__item stats-list__item_secondary" style="color: #1471ea;">62% Public transport</li>
                    <li class="stats-list__item stats-list__item_secondary" style="color: #ff196e;">10% Car
                    </li>
                    <li class="stats-list__item stats-list__item_secondary" style="color: #004caf;">10% E-bike
                    </li>
                    <li class="stats-list__item stats-list__item_secondary" style="color: #25e6ef;">8% Bicycle
                    </li>
                    <li class="stats-list__item stats-list__item_secondary" style="color: #66a8ff;">6% E-Car
                    </li>
                    <li class="stats-list__item stats-list__item_secondary" style="color: #54c956;">5% Walk
                    </li>
                </ul>
            </div>
        </div>
        <div class="chart tabs-content__chart">
            <img src="assets/img/Frame 349844.png" alt="" style="width: 100%; height: auto; display: block; margin: 0;">
        </div>
    </mat-tab>
    <mat-tab label="Month"> Month </mat-tab>
    <mat-tab label="Period"> Period </mat-tab>
</mat-tab-group>