<div class="filters">
    <form action="#" class="filters-form">
        <div class="filters-form__default">
            <div class="filter-wrapper">
                <div class="custom-slider">
                    <ngx-slider class="filter-slider custom" (userChange)="onUserChange($event,sliderType.cO2KgWeek)" [(value)]="sliderPerWeekOptions.value" [options]="sliderPerWeekOptions"></ngx-slider>
                </div>
                <div class="filter-details filter-wrapper__details clearfix">
                    <label for="co2" class="filter-details__label">CO<sub>2</sub> kg per week</label>
                    <div class="filter-details__right">
                        <div class="filter-details__m"></div>
                        <input type="number" [(ngModel)]="sliderPerWeekOptions.value" name="co2" id="co2" class="filter-details__input">
                    </div>
                </div>
            </div>
        </div>
        <div class="filters-form__hidden-part" [ngClass]="{'filters-form__hidden-part_active': isFilterShow}">
            <ul class="togglers-list">
                <li class="togglers-list__item toggler">
                    <div class="toggler__head">
                        <input type="checkbox" [(ngModel)]="isChekedTransport" name="transport" id="transport" class="toggler__input">
                        <label for="transport" class="toggler__label">Transport</label>
                    </div>
                    <div class="toggler__body">
                        <ul class="tags-list">
                            <li class="tags-list__item tag-checkbox">
                                <input type="checkbox" name="pub-trans" id="pub-trans" class="tag-checkbox__input" [disabled]="!isChekedTransport">
                                <label for="pub-trans" class="tag-checkbox__label">Pub. trans</label>
                            </li>
                            <li class="tags-list__item tag-checkbox">
                                <input type="checkbox" name="car" id="car" class="tag-checkbox__input" [disabled]="!isChekedTransport">
                                <label for="car" class="tag-checkbox__label">Car</label>
                            </li>
                            <li class="tags-list__item tag-checkbox">
                                <input type="checkbox" name="e-bike" id="e-bike" class="tag-checkbox__input" [disabled]="!isChekedTransport">
                                <label for="e-bike" class="tag-checkbox__label">E-bike</label>
                            </li>
                            <li class="tags-list__item tag-checkbox">
                                <input type="checkbox" name="bicycle" id="bicycle" class="tag-checkbox__input" [disabled]="!isChekedTransport">
                                <label for="bicycle" class="tag-checkbox__label">Bicycle</label>
                            </li>
                            <li class="tags-list__item tag-checkbox">
                                <input type="checkbox" name="e-car" id="e-car" class="tag-checkbox__input" [disabled]="!isChekedTransport">
                                <label for="e-car" class="tag-checkbox__label">E-Car</label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="togglers-list__item toggler">
                    <div class="toggler__head">
                        <input type="checkbox" (change)="fieldsChange($event)" name="nearby-homes" id="nearby-homes" [(ngModel)]="isNearbyHomes" class="toggler__input">
                        <label for="nearby-homes" class="toggler__label">Nearby homes</label>
                    </div>
                    <div class="toggler__body">
                        <ul class="filter-list">
                            <li class="filter-list__item">
                                <div class="filter-wrapper">
                                    <ngx-slider class="filter-slider" (userChange)="onUserChange($event,sliderType.NearbyKm)" [(value)]="sliderNearbyKmOptions.value" [options]="sliderNearbyKmOptions"></ngx-slider>
                                    <div class="filter-details filter-wrapper__details clearfix">
                                        <label for="within" class="filter-details__label">Within</label>
                                        <div class="filter-details__right">
                                            <div class="filter-details__m">km</div>
                                            <input type="number" name="within" id="within" [disabled]="!isNearbyHomes" class="filter-details__input" [(ngModel)]="sliderNearbyKmOptions.value" min="0" max="16">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="filter-list__item">
                                <div class="filter-wrapper">
                                    <ngx-slider class="filter-slider" (userChange)="onUserChange($event,sliderType.NearbyHomes)" [(value)]="sliderNearbyHomesOptions.value" [(highValue)]="sliderNearbyHomesOptions.highValue" [options]="sliderNearbyHomesOptions"></ngx-slider>
                                    <div class="filter-details filter-wrapper__details clearfix">
                                        <label for="min" class="filter-details__label">CO<sub>2</sub></label>
                                        <div class="filter-details__right">
                                            <div class="filter-details__m">homes</div>
                                            <input [disabled]="!isNearbyHomes" mask="0-0" name="min" id="min" class="filter-details__input" [(ngModel)]="currentValue" min="0" max="9">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="togglers-list__item toggler clearfix">
                    <div class="toggler__head">
                        <input type="checkbox" name="forecast" id="forecast" [(ngModel)]="isChekedForecast" class="toggler__input">
                        <label for="forecast" class="toggler__label">Forecast</label>
                    </div>
                    <div class="toggler__body toggler__body_right">
                        <a class="add-point" (click)="addPoint()" [ngClass]="{'add-point_disabled': !isChekedForecast}">+ Add point</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="filters-form__toggle" [ngClass]="{'filters-form__toggler_active': isFilterShow}">
            <a class="filters-form__toggler" (click)=toggleFilter()>
                <span class="filters-form__toggler-text">
                    <span *ngIf="!isFilterShow">Show filters</span>
                <span *ngIf="isFilterShow">Hide filters</span>
                </span>
            </a>
        </div>
    </form>
</div>