<div class="map">

    <google-map [options]="mapOptions" [center]="center">
        <ng-container *ngFor="let polyline of polylines; let i = index">
            <map-polyline #poly="mapPolyline" (polylineRightclick)="onMapRightclick($event)" (polylineDblclick)="polylineDblclick(poly,info,polyline)" [options]="polyline">
            </map-polyline>
            <map-info-window #info="mapInfoWindow" [options]="infoWindowOptions">
                <div class="wb-form">
                    <ul class="wb-form__options">
                        <li class="wb-form__options-item wb-option">
                            <div class="wb-option__form">
                                Office days
                            </div>
                            <div class="wb-option__body wb-option__body_active wb-slider">
                                <ngx-slider class="filter-slider" [(value)]="sliderOptions.value" [options]="sliderOptions">
                                </ngx-slider>
                                <div class="wb-slider__labels">
                                    <div class="wb-slider__label">Office</div>
                                    <div class="wb-slider__label">Home</div>
                                </div>
                                <div class="wb-slider__value">{{sliderOptions.value}}</div>
                            </div>
                        </li>
                    </ul>
                    <button class="wb-form__submit button button_primary" (click)="onApplyInfoWindows(polyline)" type="submit">Apply</button>
                </div>
            </map-info-window>
        </ng-container>
        <ng-container *ngFor="let m of markers; let i = index">
            <map-marker #marker="mapMarker" (visibleChanged)="visibleChanged(marker,infoWindow)" (mapRightclick)="onMapRightclick($event,m, infoWindow)" (mapDragend)="draggableChanged(marker,m,infoWindow)" (mapClick)="markerClick(marker,m,infoWindow)" [visible]="visible"
                [options]="m">
            </map-marker>
            <map-info-window #infoWindow="mapInfoWindow" [options]="infoWindowOptions">
                <div class="pin-data">
                    <div class="pin-data__line">{{m.forecastPerWeek}} kg per week </div>
                    <div class="pin-data__line pin-data__line_blue">{{m.forecastPerDay}} kg per day</div>
                </div>
            </map-info-window>
        </ng-container>

        <ng-container *ngFor="let f of forcastMarker; let i = index">
            <map-marker #marker="mapMarker" (visibleChanged)="visibleChanged(marker,infoWindow)" (mapRightclick)="onMapRightclick($event,f, infoWindow,i)" (mapDragend)="draggableChanged(marker,f,infoWindow)" (mapClick)="markerClick(marker,f,infoWindow)" [visible]="visible"
                [options]="f">
            </map-marker>
            <map-info-window #infoWindow="mapInfoWindow" [options]="infoWindowOptions">
                <div class="pin-data">
                    <div class="pin-data__line">{{f.forecastPerWeek}} kg per week </div>
                    <div class="pin-data__line pin-data__line_blue">{{f.forecastPerDay}} kg per day</div>
                </div>
            </map-info-window>
        </ng-container>

        <map-circle *ngFor="let circle of circles" [options]="circle"></map-circle>

    </google-map>
    <app-legend></app-legend>

    <div [style.position]="'fixed'" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerData]="{ item: contextMenu.menuData }" [matMenuTriggerFor]="contextMenu">
    </div>

    <mat-menu #contextMenu="matMenu" class="pin-data context-menu-pin-data" [overlapTrigger]="true">
        <ng-template matMenuContent let-item="item" let i=index>
            <div class="pin-data__line"><a (click)="onShowStats(item)">Show stats</a></div>
            <div *ngIf="item.type ==='virtual'" class="pin-data__line"><a (click)="onRemove(item,i)">Remove point</a>
            </div>
        </ng-template>

    </mat-menu>
</div>