<div class="map">

    <google-map [options]="mapOptions" [center]="center">
        <ng-container *ngFor="let polyline of polylines; let i = index">
            <map-polyline #poly="mapPolyline" (polylineRightclick)="onMapRightclick($event)" (polylineDblclick)="polylineDblclick(poly,info,polyline)" [options]="polyline">
            </map-polyline>
            <map-info-window #info="mapInfoWindow" [options]="infoWindowOptions">
                <div class="wb-form">
                    <ul class="wb-form__options">
                        <li class="wb-form__options-item wb-option">
                            <div class="wb-option__form">
                                Office days
                            </div>
                            <div class="wb-option__body wb-option__body_active wb-slider">
                                <ngx-slider class="filter-slider" [(value)]="sliderOptions.value" [options]="sliderOptions">
                                </ngx-slider>
                                <div class="wb-slider__labels">
                                    <div class="wb-slider__label">Office</div>
                                    <div class="wb-slider__label">Home</div>
                                </div>
                                <div class="wb-slider__value">{{sliderOptions.value}}</div>
                            </div>
                        </li>
                        <!-- <li class="wb-form__options-item wb-option" *ngIf="isChekedForecast$ | async ">
                            <div class="wb-option__form">
                                <input type="radio" name="hybrid-working" id="work-from-home" class="wb-option__radio">
                                <label for="work-from-home" class="wb-option__label">Hybrid Working</label>
                            </div>
                        </li> -->
                    </ul>
                    <button class="wb-form__submit button button_primary" (click)="onApplyInfoWindows(polyline)" type="submit">Apply</button>
                </div>
            </map-info-window>
        </ng-container>
        <ng-container *ngFor="let markerss of markers; let i = index">
            <map-marker #marker="mapMarker" (visibleChanged)="visibleChanged(marker,infoWindow)" (mapRightclick)="onMapRightclick($event)" (mapDragend)="draggableChanged(marker,infoWindow)" (mapClick)="markerClick(marker,infoWindow)" [visible]="visible" [options]="markerss">
            </map-marker>
            <map-info-window #infoWindow="mapInfoWindow" [options]="infoWindowOptions">
                <div class="pin-data">
                    <div class="pin-data__line">{{markerss.forecastPerWeek}} kg per week </div>
                    <div class="pin-data__line pin-data__line_blue">{{markerss.forecastPerDay}} kg per day</div>
                </div>
            </map-info-window>
        </ng-container>

        <map-circle *ngFor="let circle of circles" [options]="circle"></map-circle>

    </google-map>
    <app-legend></app-legend>

    <div [style.position]="'fixed'" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
    </div>

    <mat-menu #contextMenu="matMenu" [overlapTrigger]="true">
        <button mat-menu-item>Show stats</button>
        <button mat-menu-item>Remove point</button>
    </mat-menu>
</div>