<div class="container" #screen>
    <mat-sidenav-container class="example-container autosize" autosize>

        <mat-sidenav mode="side" [position]="'start'" [mode]="'side'" [opened]="true">
            <aside class="sidebar">
                <a href="/">
                    <h1 class="h1-mobile sidebar__title"><img src="../../../../../assets/img/logo.svg"></h1>
                </a>
                <div class="sidebar__body">

                    <fatma-list-items></fatma-list-items>
                    <fatma-filter-form></fatma-filter-form>

                </div>
                <div class="sidebar__footer">
                    <a href="#" class="download-xml">Download XML</a>
                </div>
            </aside>
        </mat-sidenav>
        <mat-sidenav-content>
            <main class="main">
                <div class="main-header">
                    <div class="main-header__left">
                        <ul class="trigger-list" style="display: none;">
                            <li class="trigger-list__item">
                                <a routerLinkActive="trigger-list__button_active" class="trigger-list__button "
                                    routerLink="/statictics">Stats</a>
                            </li>
                            <li class="trigger-list__item">
                                <a routerLinkActive="trigger-list__button_active"
                                    class="trigger-list__button trigger-list__button_active" routerLink="/map">Map</a>
                            </li>
                        </ul>
                    </div>

                    <div *ngIf="isForecast" class="save-png main-header__right">
                        <input hidden accept="application/JSON" type="file" #file (change)="onAddFile($event)">
                        <button class="button button_primary save-png__button" (click)="onDownLoadFile()"
                            mat-button>Download</button>
                        <button class="button button_secondary save-png__button" (click)="onUploadFile()"
                            mat-button>Upload</button>
                        <button style="color: #FF196E; border-color: #FF196E;"
                            class="button button_secondary save-png__button" mat-button
                            (click)="onDiscard()">Discard</button>
                    </div>

                    <div *ngIf="true" class="top-account main-header__right">
                        <div class="top-account__list" [matMenuTriggerFor]="profileMenu">
                            <div class="top-account__dropdown top-account__item ta-summary">
                                <div class="ta-summary__avatar">
                                    <div mat-icon-button *ngIf="true">
                                        <img class="ta-summary__avatar-src" src="../../../../../assets/img/avatar.svg">
                                    </div>
                                </div>
                            </div>
                            <mat-menu #profileMenu="matMenu" class=" nav-menu-mat account-nav-list">
                                <ul class="account-nav-list">
                                    <li class="account-nav-list__item">
                                        <a href="/Account/SignOut" class="account-nav-list__link">Log out</a>
                                    </li>
                                </ul>
                            </mat-menu>
                        </div>
                    </div>

                    <mat-progress-bar *ngIf="isProgress$ | async" mode="indeterminate" color="primary"
                        class="panel_progress"></mat-progress-bar>
                </div>
                <div class="main-body">
                    <fatma-map></fatma-map>
                </div>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <a #downloadLink></a>
</div>